$body-color: #0E0E0E;
$section-bg: #0B062D;
$bg-light-black: #171717;
$bg-linear:  linear-gradient(269.41deg, #CF9603 -0.58%, #EEDC9B 49.45%, #CF9603 99.49%);
$bg-radial: radial-gradient(circle at top left, #D1990A
, #EEDB98, #D19B0D);


// Text Color
$white: #ffffff;
$text-gradient: #E6CA74;
$text-gray: #808080;
$text-light-gray:#CCCCCC;
