.testimonial {
  .slider-image {
    position: relative;
    .quote-icons {
      position: absolute;
      top: 40px;
      left: 50px;
    }
  }
  .card {
    padding-left: 30px;
    max-width: 387px;
    @media(max-width: 767.98px) {
      max-width: 100%;
      padding-left: 16px;
      margin-top: 50px;
    }
    .review {
      margin-bottom: 31px;
      i {
        color: #ffc452;
      }
    }
    .intro {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 36px;
      gap: 1rem;
      @media(max-width: 575.98px) {
        flex-wrap: wrap;
      }
      img {
        max-width: 150px;
      }
    }
  }
  .testimonial-carousel {
    position: relative;
    .owl-nav {
      position: absolute;
      bottom: 5%;
      right: 29%;
      @media(min-width: 768px)and(max-width: 991.98px) {
        bottom: -10%;
        right: 16%;
      }
      @media(max-width: 767.98px) {
        position: relative;
        bottom: -50px;
        right: 0;
        text-align: center;
      }
      button {
        margin: 0 30px;
        border-radius: 24px;
        background: #fff;
        box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.1);
        width: 60px;
        height: 40px;
        i {
          font-size: 32px;
        }
      }
    }
  }
}
